/* Reset de CSS */ 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* Mudar cor de fundo */
    background-color: #9d0e0e;
    /*Mudar a cor da fonte */
    color: #2b0e9d;
    line-height: 1.6;
    padding: 20px;
: }

.container {
    max-width: 800px;
    background: white;
    margin: auto;
}
header {
    text-align: center;
}